/* "👉" */

li {
  list-style-type: ">";
}

ul {
  /* margin-left: 1rem */
}

ul li::marker {
  font-size: 100%;
  /* color: rgba(70, 35, 150, 0.555); */
}

div.a {
  transform: rotate(90deg);
}

span:hover {
  text-decoration: underline;
  text-decoration-color: red;
  text-shadow: 0.5px 0.5px 0.5px #555;
  cursor: default;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: red;
  text-shadow: 0.5px 0.5px 0.5px #555;
}

/*
transform: rotate(20deg)
*/
