.sublink {
  transition-timing-function: ease-in;
  transition: 100ms;
  position: absolute;
  left: 70px;
  top: 0px;
  opacity: 0;
}

.sublink::before {
  content: "-- ";
}

span[class*="is-open"] + div div .sublink {
  /* transform :*/
  transform: translateX(10px);
  left: 100px;
  top: 0px;

  /* fade-in: */
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-delay: 20ms;
  animation-duration: 80ms;
}

.home-list > li{
  position: relative
}

.clickable-marker{
  width: 2.15rem;
  left:-2rem;
  position: absolute;
  /* Z-index greater than Collapsible allows for the overlapping marker to work better */
  /* with no dead unclickable space between the marker and the actual content */
  z-index: 1; 
}

div[class*="Collapsible"] {
  z-index: 0;
  position: relative;
}
div[class*="Collapsible__contentOuter"] {
  position: static;
}
div[class*="Collapsible__contentInner"] {
  position: inherit;
  padding-top: 0.5rem;
  padding-bottom: 0.2rem;
}
