h2 {
  padding-top: 0.2rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
}

.no-animation {
  animation: none;
  -moz-animation: none;
  -webkit-animation: none;
  -o-animation: none;
}

.padded-left {
  padding-left: 1rem;
}
