h2 {
  padding-top: 0.2rem;
  padding-bottom: 0.5rem;
  padding-left: 0.2rem;
}

h2 {
  animation: slideInFromTop 1s;
  -moz-animation: slideInFromTop 1s; /* Firefox */
  -webkit-animation: slideInFromTop 1s; /* Safari and Chrome */
  -o-animation: slideInFromTop 1s; /* Opera */
}
