.p3-test {
  display: flex;
  flex-wrap: wrap;
  /* display-p3 allows for more vivid colors. */
  /* https://p3colorpicker.cool/ */
  --salmon-pink: #fb79b3;
  --p3-salmon-pink: var(--salmon-pink);

  --pinkest-pink: #ff0073;
  --p3-pinkest-pink: var(--pinkest-pink);

  --greenest-green: #0f0;
  --p3-greenest-green: var(--greenest-green);

  --reddest-red: #f00;
  --p3-reddest-red: var(--reddest-red);
}
@supports (color: color(display-p3 1 1 1)) {
  .p3-test {
    --p3-salmon-pink: color(display-p3 1 0.515 0.801);
    --p3-pinkest-pink: color(display-p3 1 0 0.52);
    --p3-greenest-green: color(display-p3 0 1 0);
    --p3-reddest-red: color(display-p3 1 0 0);
  }
}

.p3-test span {
  width: 50px;
  height: 31px;
  margin: 1px;
}

.salmon-pink {
  background-color: var(--salmon-pink);
}
.p3-salmon-pink {
  background-color: var(--p3-salmon-pink);
}
.pinkest-pink {
  background-color: var(--pinkest-pink);
}
.p3-pinkest-pink {
  background-color: var(--p3-pinkest-pink);
}
.greenest-green {
  background-color: var(--greenest-green);
}
.p3-greenest-green {
  background-color: var(--p3-greenest-green);
}
.reddest-red {
  background-color: var(--reddest-red);
}
.p3-reddest-red {
  background-color: var(--p3-reddest-red);
}
