SHOW_TFL_DESCRIPTION=false
USE_TEST_DATA=true
SHOW_DEBUG_INFO=true
REFRESH_INTERVAL=120
SCREEN_REFRESH_INTERVAL=10
MAX_RAIL_DEPARTURES=4
SECRET_MODES=tetris

# Spoons Finder configuration
SPOONS_LOCATION=putney
SPOONS_LAT=51.462506
SPOONS_LNG=-0.215772
