.theme-toggle-button {
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  line-height: 0;
  opacity: 0.7;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--color);
}

.theme-toggle-button:focus {
  outline: none;
}

.theme-toggle-button svg {
  display: block;
}
