.nav {
  background: #6874b9;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

.nav-list-item {
}

.nav-list-item a {
  display: block;
  padding: 0.25rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.nav-list-spacer {
  display: block;
  height: 1rem;
  width: 0.125rem;
  background: white;
}
