:root {
  color-scheme: light dark;
}

* {
  transition:
    background-color 100ms linear,
    color 40ms linear;
}

body {
  color: var(--color);
  background: var(--background);
}
.light {
  --color: #111;
  --background: #eee;
  --subsection-background: #ddd;
  --highlight: #4a9;
  --link: #000;
  --link-visted: #636;
}
.dark {
  --color: #cecece;
  --background: #333;
  --subsection-background: #444;
  --highlight: #969;
  --link: #cecece;
  --link-visted: #636;
  /* TODO: get display-p3 working even though it's only supported on safari */
  /* vibrant colors, yo */
  --highlight: color(display-p3 9 6 9);
}

* {
  padding: 0.2rem;
  margin: 0;
  font-family: 'Karla', 'Courier New', Courier, monospace;
}

li div {
  /* prevent information falling off the screen */
  overflow: overlay;
}

.mono {
  font-family: 'Red Hat Mono', 'Courier New', Courier, monospace;
  font-size: 0.85rem;
  padding: 0.1rem 0px;
  margin: 0;
  display: inline-block;
}

h1 {
  padding-top: 0.2rem;
  padding-bottom: 0.5rem;
}

li {
  list-style-type: '>';
}

li::marker {
  font-size: 100%;
}

.Collapsible > span:hover {
  /* text-decoration: underline; */
  /* text-decoration-color: red; */
  cursor: default;
}

a:hover {
  /* text-decoration: underline; */
  /* text-decoration-color: red; */
  text-shadow: 0.2px 0.2px 0.2px #555;
}

h1 {
  animation: slideInFromTop 1s;
  -moz-animation: slideInFromTop 1s; /* Firefox */
  -webkit-animation: slideInFromTop 1s; /* Safari and Chrome */
  -o-animation: slideInFromTop 1s; /* Opera */
}

@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  max-width: 100%;
  width: 36rem;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  height: 100%;
}
@media only screen and (min-width: 880px) {
  .container {
    width: 72rem;
  }
}

a {
  padding: 0px;
}
a:link {
  color: var(--link);
}

a:visited {
  color: var(--link-visited);
}

a:active {
  color: var(--highlight);
  text-decoration-color: var(--highlight);
  text-shadow: 0.5px 0.5px 0.5px var(--highlight);
}

/* fix snap / jitter on collapsibles */
div[class^='Collapsible__contentOuter'] {
  margin: 0;
  padding-bottom: 0px;
  padding-top: 0px;
}

/* fix tabbing when collapsible is closed */
span[class*='is-closed'] + div {
  visibility: hidden;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.shader-container {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: -1;
}

@media (max-width: 880px) {
  .shader-container {
    transform: scale(0.5);
  }
}
