:root {
  color-scheme: light dark;
}

body.light {
  --color: #111;
  --background: #eee;
  --subsection-background: #ddd;
}
body.dark {
  --color: #cecece;
  --background: #333;
  --subsection-background: #444;
}
body {
  /* color: var(--color);
  background: var(--background); */
  color: #111;
  background: #eee;
}

.nav {
  display: none !important;
  background: #000 !important;
}

* {
  padding: 0.2rem;
  margin: 0;
  font-family: "Karla", "Courier New", Courier, monospace;
}

.mono {
  font-family: "Red Hat Mono", "Courier New", Courier, monospace;
  font-size: 0.85rem;
}

.code {
  /* separated sections for code snippets
  just like you'd find displayed on a  github readme.md */
  /* background-color: var(--subsection-background); */
  background-color: #ddd;
  padding: 0.3rem 1.5rem;
  display: inline-block;
  font-family: "Red Hat Mono", "Courier New", Courier, monospace;
  font-size: 0.85rem;
  white-space: nowrap;
}

.command-line::before {
  /* and if we want to display command line stuff */
  content: "$ ";
}

.command-line {
  display: inline-block;
  font-family: "Red Hat Mono", "Courier New", Courier, monospace;
  font-size: 0.85rem;
  white-space: nowrap;
}

h1 {
  padding-top: 0.2rem;
  padding-bottom: 0.5rem;
}

li {
  list-style-type: ">";
}

li::marker {
  font-size: 100%;
}
span:hover {
  /* text-decoration: underline; */
  /* text-decoration-color: red; */
  text-shadow: 0.2px 0.2px 0.2px #555;
  cursor: default;
}

a:hover {
  /* text-decoration: underline; */
  /* text-decoration-color: red; */
  text-shadow: 0.2px 0.2px 0.2px #555;
}

h1 {
  animation: slideInFromTop 1s;
  -moz-animation: slideInFromTop 1s; /* Firefox */
  -webkit-animation: slideInFromTop 1s; /* Safari and Chrome */
  -o-animation: slideInFromTop 1s; /* Opera */
}

@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  max-width: 100%;
  width: 36rem;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  height: 100%;
}
@media only screen and (min-width: 880px) {
  .container {
    width: 72rem;
  }
}

a {
  padding: 0px;
}

/* fix snap / jitter on collapsibles */
div[class^="Collapsible__contentOuter"] {
  margin: 0;
  padding-bottom: 0px;
  padding-top: 0px;
}

/* fix tabbing when collapsible is closed */
span[class*="is-closed"] + div {
  visibility: hidden;
}
