body {
  background-color: #eeeeee;
}

.nav {
  display: none !important;
  background: #000 !important;
}

* {
  padding: 0.2rem;
  margin: 0;
  font-family: "Consolas", "Courier New", Courier, monospace;
}

h1 {
  padding-top: 0.2rem;
  padding-bottom: 0.5rem;
}
