/* 
  Make list of links appear differently to collapsibles.
  spacebar will work for collapsibles
  only enter will work for links
 */
.ul-link li {
  list-style-type: '-';
}

.emoji-header {
  font-size: 2rem;
  margin-bottom: 1rem;
}